 /* Font :Poppins, :Inter  */
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 


 @import "tailwindcss";
 @plugin "daisyui" {
  themes: false;
 }
  



 @theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-primary: #DB4444;
  --color-secondary: #000000;
  --color-gray: #bfbfbf;
  --color-slate-gray: oklch(0.968 0.007 247.896);
  --color-text-color: #FAFAFA;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}

 

  @layer base {
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
      }
    }

@layer utilities {
  .container {
    max-width: 1100px;
    width: 96%;
    margin: 0 auto;
  }

  .nav-links {
    @apply 
    text-[16px] 
    relative 
    text-secondary 
    before:content-[''] 
    before:absolute 
    before:top-6  
    before:w-0 
    before:h-0.5 
    before:bg-gray  
    before:duration-300
    hover:before:w-full 
  }

  .bg-transparent {
    background: transparent;
  }


 .fluid-box {
      width: clamp(250px, 90vw, 780px);
      height: clamp(200px, 30vw, 300px);
      background-color: #e2e8f0;
      margin: 20px auto;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: sans-serif;
    }



}
